
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,500,500i');

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #333;
    line-height: 1.5;
    margin: 0px;
    background-color: #e6f3fa;
}
/* top-level body elements */
main {
    margin-top: 1in;
    margin-left: 1in;
    width: 5.75in;
}

div.body {
}
.related-links {
}
ul.ullinks {
    padding-left: 0pt;
}
a {
    text-decoration: none;
    color: #278cbe;
}
.note {
    background: #f5f1cc;
    float: right;
    width: 50%;
    padding: 10px;
}
h1, h2, h3, h4 {
    color: #666;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.title.sectiontitle {
    font-weight: 500;
    color: #666;
    font-variant:small-caps;
}
dt.dlterm {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

li.link a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}


.example {
    border: 1pt solid #278cbe;
    padding: 6pt;
    background-color: #F0F8FF;
}
.example > .sectiontitle {
    margin-top: 0pt;
}
.xmlelement, .xmlatt {
    color: #00796b !important;
}
.fig {
    width: 5.75in;
    text-align:center;
    vertical-align:middle;
}
.fig[class~="inset"] {
    float: right;
    width: 2in;
    font-style: italic;
    margin: 6pt 0pt 6pt 6pt;
}
.figborder {
    border: 1pt solid #ccc;
    padding: 0pt;
}
.fig img {
    max-width: 100%;
}
/*div.fig[class~="inset"] > img.image:active {
    max-width: 4in;
    border: 1pt solid #ccc;
    margin-left: -50%;
    margin-top: -50%;
    z-index: 100;
}
*/
.fig > p {
    margin: 6pt;
    padding: 0pt;
}
/* 
.fignone = no border, but put on all fig with no specified border
expanse attribute not expressed in HTML
* */
/* header */
header[role='banner'] {
    position: fixed;
    width: 100%;
    top: 0px;
}


div.ttheader {
    background-color: #278cbe;
    margin: 0pt 0pt 18pt 0pt;
    width: 100%;
    height: 0.75in;
    line-height: 1.5;
}
div.ttheader h1 {
    color: white;
    margin: 0pt;
    padding-left: 6pt;
    line-height: 1;
    font-size: 36pt;
}
div.ttheader ul {
    padding-left: 0pt;
    margin: 0pt;
}
div.ttheader li {
    display: inline-block;
    
}
div.ttheader a {
    display: inline-block;
    color: #DDD;
    padding: 0em 2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
div.ttheader a:hover {
    color: white;
}
@media print {
    div.ttheader {
        display: none;
    }
    body {
        font-size: 11pt;
        margin-left: 0in;
        line-height: 1.25;
    }
}
/* Footer */
div.share {
    margin-bottom: 1em;
}
.ditasearch {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20em;
    z-index: 90;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}
.ttfooter {
    text-align: center;
    font-size: small;
}
